<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Nice to see you!</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ol class="round">
            <li class="one">
                <h5>Are you looking for documentation?</h5>
                API in build. We curent don't have any API documentation. 
                We buid it into one-two month
                <a href="#">Documentation…</a>
            </li>

            <li class="two">
                <h5>Are you looking for API authors?</h5>
                API wrote a few of SGGW (<a href="#">warsaw university of life science</a>) students. 
                
                <a href="#">Full list of authors</a>
            </li>

            <li class="three">
                <h5>Would you like to contant with US?</h5>
                You can sent your message to one of this email addresses:
                <a href="#">Email addresses</a>
            </li>
        </ol>
    </section>
    <section class="MainPageLogo">

    </section>
</div>
